body {
    color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#app {
    font-family: 'Source Serif Pro', serif;
    font-size: 24px;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    flex-direction: column;
    height: auto;
    max-width: 500px;
}

body {
    height: auto;
}

h1 {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 0 0 20px;
    text-align: center;
}

ul {
    width: 100%;
    margin-bottom: 100px;
}

li {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    font-size: 16px;
    padding: 5px;
}

li:nth-child(even) {
    background-color: #efefef;
}

.nav {
    margin: 0 0 20px;
}

.nav button {
    font-size: 18px;
}

/* CUSTOM STYLES */

body {
  font-family: 'Source Serif Pro', sans-serif;
}

.page-title {
  background-color: deepskyblue;
  color: black;
}

.nav button:hover {
  text-decoration: underline;
}

.movie {
  flex-direction: column;
}

.movie-rating {
  font-size: 20px;
}

.movie-summary {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-summary:hover {
  color: grey;
}

.movie-details {
  height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: white;
  background-size: cover;
  background-position: center;
  transition-property: height, opacity;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.movie-details--show {
  height: 100%;
  opacity: 1;
}

.movie-details-overlay {
  min-height: 250px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  text-align: center;
}

.movie-details-title {
}

.movie-details-original-title {
  font-style: italic;
}

.movie-details-overview {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  margin-top: 20px;
}
